body{
    margin: 0%; /* отступы по умолчанию */
}
h1{
    font-size: 60px; /* Размер текста */
    color: orange; /* Цвет текста */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 1000; /* Толщина текста */
    text-align: center; /* выравнивание по горизонтальному центру */
}

a,p,h1,h2,h3,button,input{
    font-family: "Playfair Display", serif;
}
header{
    background-color: rgb(140, 142, 153); /* цвет фона */
    width: 100%; /* ширина экрана */
    height: 80px; /* высота элемента */
    
}
.logo{
    color: orange;    
    text-decoration: none; /* убрать подчеркивание текста */
    font-size: 30px;
    font-weight: 800;
    text-transform:uppercase;
}
header > div > nav > a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 300; 
    color: white;
    margin-left: 40px;
    transition: all 0,5s ease;
}

header > div > nav > a:hover{
    color:orange;


}

.header-cont{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex; 
    justify-content: space-between;
    align-items: center;  
    gap: 80px;
}

h1{
    margin: 0;
}

.sec1{
    width: 100%;
    background-image:url("../images/best-cs2-settings.jpg");
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    align-content: center;
}

.sec1 > p{
    font-size: 30px;
    color: orange;
    font-weight: 300;
    margin-bottom: 70;
}

button{
    background-color: orange;
    font-size: 20px;
    font-weight: 500;
    color: white;
    padding: 10px 30px;
    border: 2px solid transparent;
    border-radius: 500px;
    transition: all 0.5s ease;
    cursor: pointer;

}

button:hover{
    background-color: transparent;
    border: 2px solid orange;
}

.sec2{
    background-color: black;
}

h2{
    font-size: 50px;
    color: white;
    font-weight: 800;
}

.right-content > p{
    font-size: 18px;
    font-weight: 200;
    color: white;
    line-height: 35px;
}

.left-content{
    border-radius: 20px;
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);

}
footer > .header-cont{
    height: 300px;
}

footer{
    background-color: rgb(0, 0, 0);
    border-top: 2px solid orange;
}

.desc > p{
    font-size: 16px;
    font-weight: 200;
    color: white;
    width: 60%;
}

footer > div > nav > a:hover{
    color: orange;
}

footer > div > nav{
    display: flex;
    flex-direction: column;
    width: 25%;
}

.sec3{
    width: 100%;
    background-color: black;
}

.sec3-cont{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.card-info > img{
    width: 50px;
    height: 50px;
    border-radius: 7px;
}

.card-info{
    display: flex;
    width: 100%;
    gap: 30px;
    align-items: center;  
}
.card{
    width: 25%;
    background-color: white;
    padding: 2.5%;
    border-radius: 20px;
}
.name{
    font-size: 20px;
    margin: 0;
    color: black;
    font-weight: 700;
}
.review{
    font-size: 18px;
    font-weight: 400;
    color: black;
    line-height:  30px;
}

.stars{
    font-size: 23px;
    margin: 0;
    color: orange;
    letter-spacing: 5px;
}
.auth{
    display: flex;
    align-items: center;
    gap: 10px;
}
.auth > fa.user{
    color: orange;
    font-size: 18px;
}
.auth > a{
   text-decoration: none;
   color: white;
   font-weight: 700;
   transition: all 0.3s ease;
}
.auth > a:hover{
    color: orange;
}