.sec-login{
    width: 100%;
    height: 91.6vh;
    background-image: url("../юрий-картинка/login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.login-form{
    background-color: rgba(0, 0, 0, 0.348);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 25px;
    width: 18%;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.352);
    


}   
h3{
    color: rgb(0, 0, 0);
    text-align: center; 
    font-size: 35px;
    font-weight: 800;
    letter-spacing: 4;
    margin-top: 0;


}   
input{
    width: 100%;
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid orange;
    border-radius: 100px;
    color: white;
    font-size: 16px;
}

input::placeholder{
    color: rgb(0, 0, 0);
    transition: all 0.3s ease;
    
}

form > a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 0 auto;
    transition: all 0.3s ease;
    border-bottom: 1px solid transparent;

}

form > a:hover{
    color: orange;
    border-bottom: 1px solid orange;

}
.login-form > button:hover{
    background-color: rgba(0, 0, 0, 0.352);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.352);
  

}