body{
    margin: 0;
}
header{
    width: 100%;/*ширина элемента*/
    height: 80px;/*высота элемента*/
}
.logo{
    color:rgb(0, 0, 0);
    text-decoration: none;   /*убрать подчеркивование текста */
    font-size: 30px;
    font-weight: 800;
    text-transform:uppercase
}
header > div > nav > a{
    text-decoration: none;
    font-size: medium;
    font-weight: 700;
    color: red;
    margin: left 20px;
    transition: all 0.3s ease;
}
header > div > nav > a:hover{
    color:blueviolet
}


.header-cont{
    width: 70%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}