body{
    margin: 0; /*убрать отступы по умолчанию*/
}
h1{
    font-size: 50px; /* Размер текста */
    color: rgb(255, 0, 170); /* цвет текста*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;/* толщина текста*/ 
    text-align: center;/*Выравниевание по горизантальному центру*/
}
    a, p, h1, h2, h3, button{
        font-family: "Playfair Display", serif;
    }

.logo{
    color:slateblue;
    text-decoration: none; /* убрат подчеркивание текста*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    background-color: #080808;/*цвет фона*/
    width: 100%;/*ширина элемента*/
    height: 80px;/*высота элемента*/
}
.logo{
    color:rgb(0, 0, 0);
    text-decoration: none;   /*убрать подчеркивование текста */
    font-size: 30px;
    font-weight: 800;
    text-transform:uppercase
}
header > div > nav > a{
    text-decoration: none;
    font-size: medium;
    font-weight: 700;
    color: red;
    margin: left 20px;
    transition: all 0.3s ease;
}

header > div > nav > a:hover{
    color:blueviolet
}


.header-cont{
    width: 70%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h1{
    margin: 0%;
}

.sec1{
    width: 100%;
    background-image: url("../юрий-картинка/fsb_promo_rust02.webp");
    height:90vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.sec1 >p{
    font-size: 18px;
    color: red;
    font-weight: 500;
    margin-bottom: 200px;
}
button{
    background-color: palevioletred;
    font-size: 40px ;
    font-weight:900px ;
    color: blueviolet;
    padding: 15px 40px;
    border: 2px solid transparent;
    border-radius: 600px;
    transition: all 0.3s ease;
    cursor: pointer;
}

button:hover{
    background-color: transparent;
    border: 2px solid blueviolet;
}

.sec2{
    background-color: black;
}

h2{
    font-size: 50px;
    color: white;
    font-weight: 800;
}

.right-contet > p{
    font-size: 18px;
    font-weight: 200;
    color: pink;
    line-height: 35px;
}


.left-contet{
    border-radius: 20px;
}
.footer > .header-cont{
    height: 300px;
}

.desc > p{
    font-size: 16px;
    font-weight: 200;
    color: white;
    width: 60%;
}
footer > .header-cont{
    height: 300px;
}

footer{
    background-color: black;
    border-top: 2px solid orange;
}
.deck > p{
    font-size: 16px;
    font-weight: 300px;
    color: white;
    width: 60%;
}

footer > div > nav > a:hover{
    color: pink;
}
footer > div > nav{
    display: flex;
    flex-direction: column;
    width: 25%;
}

.sec3{
    width: 100%;
    background-color: black;
}

.sec3-cont{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.card-info > img{
    width: 50px;
    height: 50px;
    border-radius: 30px;
}
.card-info{
    display:flex ;
    width: 100%;
    gap: 30%;
    align-items: center;
}
.card{
    width: 20%;
    background-color: pink;
    padding: 2.5%;
    border-radius: 50px;
}
.name{
    font-size: 20px;
    margin: 0;
    color: black;
    font-weight: 700;
}
.review{
    font-size: 18px;
    font-weight: 400;
    color: black;
    line-height: 30px;
}

.star{
    font-size: 24px;
    margin: 0;
    color: gold;
    letter-spacing: 5px;
}
